<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="icon" href="../img/dulceicon.ico">
     <link rel="stylesheet" href="../css/catalogo.css">
    <title>Catálogo de imagenes - DulceTentacion</title>


</head>

<body>
    <header>
        <div class="header-linea">
            <img class="logo" src="../img/dulce2.png" alt="">
        </div>
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="crea_tu_torta.html">CREA TU TORTA</a>
            <a href="catalogo.html">CATÁLOGO</a>
            <a href="contacto.html">CONTACTO</a>
        </nav>

    </header>

    <main>
        <h2>CATALOGO - DULCE TENTACIÓN</h2>
        <p class="intro-paragraph">¡Bienvenido a nuestro catálogo de tortas, donde la dulzura se encuentra con la
            creatividad! En Dulce Tentacion,
            nos enorgullece ofrecerte una amplia variedad de tortas exquisitas que satisfarán tus antojos. Desde
            clásicos pasteles de cumpleaños hasta creaciones únicas,
            nuestras tortas están hechas con amor y los ingredientes más frescos.</p>



      
        </div>

        <div class="gallery">
            <div class="photo">
                <img src="../img/torta1.jpg" alt="Foto 1">
                <div class="caption">Chescake de Frutos Rojos</div>
            </div>
            <div class="photo">
                <img src="../img/torta2.jpg" alt="Foto 2">
                <div class="caption">Torta de Cumpleaños</div>
            </div>
            <div class="photo">
                <img src="../img/torta3.jpg" alt="Foto 3">
                <div class="caption">Torta de Chocolate</div>
            </div>
            <div class="photo">
                <img src="../img/torta oreo.jpg" alt="Foto 3">
                <div class="caption" >Torta Oreo</div>
            </div>
        </div>
    </main>


    <footer>
        <p>&copy; 2023 Dulce Tentacion. Todos los derechos reservados.</p>
        <p>Pelegrini y Av. Belgrano Sur - Santiago del Estero, Capital</p>
    </footer>

    <script>


        function toggleOptions() {
            var selectItems = document.querySelector('.select-items');
            selectItems.style.display = (selectItems.style.display === 'none') ? 'block' : 'none';
        }
    </script>

</body>

</html>