<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/dulceicon.ico">



    <script src="../js/validaciones.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>

<body>
    <header>
        <div class="header-linea">
            <img class="logo" src="../img/dulce2.png" alt="">
        </div>
        <nav>
            <a href="../index.html">INICIO</a>
            <a href="crea_tu_torta.html">CREA TU TORTA</a>
            <a href="catalogo.html">CATÁLOGO</a>
            <a href="contacto.html">CONTACTO</a>
        </nav>

    </header>
    <main>
        <h1>¡Contáctanos!</h1>
        <p class="intro-paragraph">Estamos aquí para responder a tus preguntas, tomar tus pedidos y ayudarte en todo lo
            que necesites. Si
            tienes alguna consulta o comentario, no dudes en ponerte en contacto con nosotros. Tu opinión es importante
            y valoramos la oportunidad de servirte mejor.</p>
        <div id="mi_contenedor">

            <div>
                <!-- Contenido de la primer columna -->
                <form id="formularioContacto" onsubmit="return validarFormulario()">
                    <!--  Crear campos para el formulario  -->
                    <label for="nombre">Nombre:</label> <br>
                    <input type="text" name="nombre" id="nombre" maxlength="10"> <br>

                    <label for="apellido">Apellido:</label> <br>
                    <input type="text" name="apellido" id="apellido"> <br>

                    <label for="telefono">Teléfono</label> <br>
                    <input type="tel" name="telefono" id="telefono"> <br>

                    <label for="email">Correo:</label><br>
                    <input type="email" name="email" id="email"> <br>

                    <label for="comentario">Comentario</label> <br>
                    <textarea name="comentario" id="comentario" cols="30" rows="5" maxlength="30"
                        placeholder="Escriba un comentario"></textarea> <br>
                    <br><br>
                    <!-- Agregar los botones para enviar(submit) y borrar(reset). -->
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </form>
            </div>
            <div>
                <!-- Contenido de la segunda columna -->
                <h2>Nos encontras en: </h2>
                <iframe
                    src="https://www.google.com/maps/d/embed?mid=1K9QFMV9cT4NIlaNJh_93Dpg-hz0dFVU&ehbc=2E312F&noprof=1"
                    width="80%" height="270"></iframe>
            </div>
            <div>
                <p>Seguinos</p>
                <i class="fa-brands fa-instagram"> dulce_tentacion_ok</i> <br>
                <i class="fa-brands fa-tiktok"> dulce_tentacion_ok</i><br>
                <i class="fa-brands fa-facebook"> dulce_tentacion_sgo</i>
            </div>
        </div>

        </div>

    </main>

    <footer>

        <p>&copy; 2023 Dulce Tentacion. Todos los derechos reservados.</p>
        <p>Pelegrini y Av. Belgrano Sur - Santiago del Estero, Capital</p>

    </footer>

    <script src="https://kit.fontawesome.com/ee0c7cd32f.js" crossorigin="anonymous"></script>

</body>

</html>